.about-ctr {
  /* height: 60vh; */
  /* background-color:darkblue; */
  padding: 7vw 12vw 2vw 0vw;
}

.about-paragraph {
  color: white;
  padding-bottom: 2vw;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-size: 1rem;
}

@media screen and (max-width: 900px) {
  .about-ctr {
    padding: 7vw 8vw 2vw 8vw;
  }
}