.projects-ctr {
  height: 100vh;
  background-color: crimson;
}

.projects-card-ctr {
  background-color:burlywood;
  display: flex;
  padding: 10px;
  margin-right: 12vw;
}

.projects-card-img {
  height: auto;
  width: 20vw;
}

.projects-card-left {
  display: inline;
  float: left;
  background-color: chocolate;
}



.projects-card-right {
  display: inline;
  float: right;
  padding-left: 20px;
  background-color: darkgreen;
}

.projects-card-links {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}


.projects-btn {
  border: none;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: .4s;
  cursor: pointer;
  position: relative;
  background-color: rgb(31, 31, 31);
  overflow: hidden;
}

.projects-links-icon {
  transition-duration: .3s;
}

.projects-links-icon path {
  fill: white;
}

.projects-links-text {
  position: absolute;
  color: rgb(255, 255, 255);
  width: 120px;
  font-weight: 600;
  opacity: 0;
  transition-duration: .4s;
}

.projects-btn:hover {
  width: 80px;
  transition-duration: .4s;
  border-radius: 30px;
}

.projects-btn:hover .projects-links-text {
  opacity: 1;
  transition-duration: .4s;
}

.projects-btn:hover .projects-links-icon {
  opacity: 0;
  transition-duration: .3s;
}